<template name="message">
	<li class="list-group-item {{#if isLeader}} leader{{/if}} ">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                   
                                    <div>
                                        By: <a href="#">{{displayName message.msg.user}}({{rank message.msg.user}})</a> on {{dateFormat message.msg.createdAt}}
                                    </div>
                                </div>
                                <div class="comment-text ">
                                    {{message.msg.message}}
                                </div>
                                
                                    <div class="action">
                                        {{#unless isLeader}}
                                            <span class="badge">{{message.approvers.length}}</span>
                                            <button type="button" class="btn btn-success btn-xs btn-approve"  title="Approve" {{isDisabled}}>
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button >
                                             <span class="badge">{{message.disapprovers.length}}</span>
                                            <button type="button" class="btn btn-danger btn-xs btn-disapprove" title="Disapprove" {{isDisabled}}>
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        {{/unless}}

                                        
                                         <button type="button" class="btn btn-success btn-xs btn-add-comment" {{isDisabled}}>Add Comment</button>
                                         <button type="button" class="btn btn-success btn-xs btn-save-message" {{isDisabled}}>Save Message</button>
                                         {{#if message.comments.length}}
                                             <a href="#"  class="pull-right  btn-hide-comments">Hide Comments</a>

                                             <a href="#"  class="pull-right  btn-show-comments hidden">Show Comments</a>
                                        {{/if}}
                                    </div>
                                

                                
                                <div class="col-xs-6 col-md-9 div-comments mtm">
                                    {{#each  message.comments}}
                                     <div class="row mtm">
                                        <div class="col-xs-2 col-md-1">
                                            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000" class="img-circle img-responsive" alt="" />
                                        </div>
                                         <div class="col-xs-10 col-md-11">
                                             <div>
                                   
                                                <div class="mic-info">
                                                    By: <a href="#">{{displayName user}}</a> on {{dateFormat createdAt}}
                                                </div>
                                            </div>
                                            <div class="comment-text ">
                                                {{message}}
                                            </div>

                                        </div>
                                     </div>
                                    {{/each}}
                                </div>
                                <div class="row mtm hidden div-add-comment">
                                        <div class="col-xs-6 col-md-9">
                                  
                                    <textarea  class="form-control txt-comment" placeholder="comment" rows="3" autofocus></textarea>
                                    <div class="mtm">
                                    <button type="button" class="btn btn-waring btn-xs btn-cancel-comment">Cancel</button>
                                    <button type="button" class="btn btn-success btn-xs btn-save-comment">Save</button>
                                    </div>
                                </div>

                                </div>
                            </div>
                        </div>
                    </li>


</template>