<template name="saved">
	<div class="page-conatiner">
			{{>header}}
			<div class="container-fluid">
				<div class="row row-offcanvas row-offcanvas-left">
					{{>leftNavigation}}
					<div class="col-xs-12 col-sm-9">
						{{>messages messages=savedMessages title='saved'}}
					</div>


				</div>
			</div>
			
	</div>	
	{{>footer}}

</template>