<template name="signupForm">

	<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign up to Resistance</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
               
                
                <form class="form-signin form-signup">
                     <ul>
                   {{#each signupError}}
                    <li class="text-danger">{{this}}</li>
                    {{/each}}
                    </ul>
                <input type="text" class="form-control" id="signup-email" placeholder="Email" required autofocus>
                <input type="text" class="form-control" id="signup-displayName" placeholder="Display Name" required>
                <input type="text" class="form-control" id="signup-rank" placeholder="Rank" required>
                <input type="password" class="form-control" id="signup-password" placeholder="Password" required>
                <input type="password" class="form-control" id="signup-confirmPassword" placeholder="Confirm Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign up</button>
                
                
                </form>
            </div>
            <a href="{{pathFor 'login'}}" class="text-center new-account">Already have a account?</a>
        </div>
    </div>
</div>



</template>