<template name="leftNavigation">
<!--sidebar-->
        <div class="col-xs-2 col-sm-1 sidebar-offcanvas" id="sidebar" role="navigation">
          <div data-spy="affix" data-offset-top="45" data-offset-bottom="90">
            <ul class="nav" id="sidebar-nav">
              <li><a href="{{pathFor 'home'}}">Home</a></li>
              {{#if currentUser}}
                <li>{{>brodcastMessage}}</li>
                <li><a href="{{pathFor 'saved'}}">Saved Messages</a></li>
                <li><a href="#" id="logout">Log out</a></li>
              {{else}}
                  <li class="alert alert-warning">Login to brodcast and save messages</li>
              {{/if}}
              
            </ul>
           </div>
        </div><!--/sidebar-->

</template>