<template name="header">

	 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="{{pathFor 'home'}}">Resistance</a>
           
    	</div>

    	{{#if currentUser}}
        <div class="pull-right">
            {{currentUser.profile.name}}
        </div>
        
      {{else}}
    		<ul class="nav navbar-nav navbar-right">
                <li><a  href="{{pathFor 'login'}}">Login</a></li>
                <li> <a  href="{{pathFor 'signup'}}">SignUp</a></li>
               
              </ul>
      {{/if}}


    	
    </nav>


</template>