<template name="brodcastMessage">
	<a href="#" class="brod-cast" data-toggle="modal" data-target="#brodacast-modal">Broadcast Message</a>

	<div class="modal fade" id="brodacast-modal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title">Your Message for Resistance</h4>
		      </div>
		      <div class="modal-body">
		        
		        <textarea id="resistance-msg" class="form-control" placeholder="message" rows="3" autofocus></textarea>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" id="save-msg">Save changes</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



</template>