<template name="messages">

	<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    {{title}} Messages</h3>
                {{#if messages.length}}
                    <span class="label label-info">
                        {{messages.length}}</span>
                {{/if}}
            </div>
            <div class="panel-body">
                <ul class="list-group">
                   {{#each messages}}

						{{>message message=this}}

					{{/each}}
                </ul>
               </div>
        </div>
    </div>
</div>
	

</template>