<template name="loginForm">

	<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to Resistance</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">

                <form class="form-signin">

                    <ul>
                       {{#each signinError}}
                            <li class="text-danger">{{this}}</li>
                        {{/each}}
                     </ul>

                    <input type="text" id="signin-email" class="form-control" placeholder="Email" required autofocus>
                    <input type="password" id="signin-password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                
                
                </form>
            </div>
            <a href="{{pathFor 'signup'}}" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>



</template>